.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode nav{
    background-color: rgb(235, 140, 140);
    color: white;
}

.dark-mode section{
    background-color: black;
    /* color: white; */
}

.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}

.dark-mode .bg-white{
    background-color: rgb(43, 27, 73);
}

.dark-mode .text-gray-700{
    color: white;
}

.dark-mode .bg-pink-100{
    background-color: rgb(161, 43, 82);
}

.dark-mode .bg-blue-400{
    background-color: rgb(22, 94, 107);
}

.dark-mode .bg-red-400{
    background-color: rgb(129, 19, 56);
}

.dark-mode .bg-green-400{
    background-color: rgb(13, 109, 64);
}